body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(201,209,134,1) 0%, rgba(211,215,174,1) 24%, rgba(230,234,196,1) 100%);
}

/* Background styling */

.background {
    z-index: -100;
}

.floor {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    background: linear-gradient(90deg, rgba(102,77,50,1) 1%, rgb(142, 103, 61) 15%, rgba(151,106,58,1) 100%);
    z-index: -2;
}

.closet {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 10vw;
    height: 65vh;
    background-color: rgb(229, 209, 184);
    border-radius: 0 10px 10px 0;
    border: 1px solid rgb(175, 122, 75);
}

.openner {
    position: relative;
    width: 0.75vw;
    height: 8vh;
    left: 10vw;
    bottom: -30vh;
    background-color: rgb(189, 147, 97);
    border: 1px solid rgb(175, 122, 75);
    border-radius: 0 5px 5px 0;
}

.carpet {
    width: 35vw;
    height: 10vh;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(247,225,183,1) 0%, rgba(255,235,205,1) 100%);
    position: absolute;
    bottom: 10vh;
    right: 24.5vw;
}

.window {
    width: 30vw;
    height: 32vh;
    background-color: rgb(246, 243, 237);
    position: absolute;
    right: 5vw;
    top: 13vh;
    border: 2px solid rgb(210, 210, 210);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
    z-index: -10;
}

.outside {
    width: 27vw;
    height: 27.5vh;
    background-color: rgb(160, 206, 242);
    position: relative;
    left: 1.5vw;
    top: 2vh;
    border: 2px solid rgb(210, 210, 210)
}

.plantPot {
    position: absolute;
    right: 18vw;
    bottom: 25vh;
}

.pot {
    width: 8vw;
    height: 15vh;
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(199,132,161,1) 100%);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top: 2px solid rgb(224, 156, 186);
    z-index: 2;
}

.leaves {
    position: relative;
    top: 60vh;
    left: 0.5vw;
}

.plant {
    height: 23vh;
    width: 2vw;
    background: linear-gradient(0deg, rgba(55,148,42,1) 0%, rgba(159,219,53,1) 100%);
    z-index: -1;
    position: relative;
    top: 25vh;
    left: 2vw;
    border-radius: 100%;
    border: 1px solid rgb(47, 124, 37);
}

.plant-left-one {
    height: 21vh;
    width: 2vw;
    background: linear-gradient(0deg, rgba(55,148,42,1) 0%, rgba(159,219,53,1) 100%);
    z-index: -2;
    position: relative;
    top: 4vh;
    left: 0.25vw;
    border-radius: 100%;
    border: 1px solid rgb(47, 124, 37);
    transform: rotate(-15deg);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.plant-right-one {
    height: 21vh;
    width: 2vw;
    background: linear-gradient(0deg, rgba(55,148,42,1) 0%, rgba(159,219,53,1) 100%);
    z-index: -3;
    position: relative;
    top: -17.5vh;
    left: 4vw;
    border-radius: 100%;
    border: 1px solid rgb(47, 124, 37);
    transform: rotate(15deg);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.plant-left-two {
    height: 20vh;
    width: 2vw;
    background: linear-gradient(0deg, rgba(55,148,42,1) 0%, rgba(159,219,53,1) 100%);
    z-index: -4;
    position: relative;
    top: -37vh;
    left: -1.5vw;
    border-radius: 100%;
    border: 1px solid rgb(47, 124, 37);
    transform: rotate(-25deg);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.plant-right-two {
    height: 20vh;
    width: 2vw;
    background: linear-gradient(0deg, rgba(55,148,42,1) 0%, rgba(159,219,53,1) 100%);
    z-index: -5;
    position: relative;
    top: -57vh;
    left: 5.75vw;
    border-radius: 100%;
    border: 1px solid rgb(47, 124, 37);
    transform: rotate(25deg);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.picturesCombo {
    position: absolute;
    left: 25vw;
    top: 15vh;
    z-index: -10;
}

.pictures-one {
    position: relative;
    width: 9vw;
    height: 9vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pictures-two {
    position: relative;
    top: 1vw;
    width: 4vw;
    height: 4vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pictures-three {
    position: relative;
    top: 2vw;
    width: 4vw;
    height: 4vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pictures-four {
    position: relative;
    top: -7vw;
    left: 5vw;
    width: 4vw;
    height: 9vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pictures-five {
    position: relative;
    top: -26vw;
    left: 10vw;
    width: 9vw;
    height: 5vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pictures-six {
    position: relative;
    top: -25vw;
    left: 10vw;
    width: 9vw;
    height: 13vw;
    background-color: rgb(115, 72, 47);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5);
}

.pic-one {
    position: relative;
    width: 8vw;
    height: 8vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}

.pic-two {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}

.pic-three {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}

.pic-four {
    position: relative;
    width: 3vw;
    height: 8vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}

.pic-five {
    position: relative;
    width: 8vw;
    height: 4vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}

.pic-six {
    position: relative;
    width: 8vw;
    height: 12vw;
    background-color: beige;
    top: 0.5vw;
    left: 0.5vw;
}



/* Cat styling */

.cat-head {
    position: absolute;
    right: 0;
    left: 650px;
    top: 200px;
    bottom: 0;
    background-color: black;
    width: 190px;
    height: 170px;
    border: 2px solid black;
    border-radius: 100px 100px 55px 55px;
}

.left-ear {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -25px;
    border-top-left-radius: 80px;
    border-top-right-radius: 40px;
    transform: rotate(-60deg);
    border-left: 35px solid black;
    border-right: 35px solid black;
    border-bottom: 70px solid black;
}

.right-ear {
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 145px;
    border-top-left-radius: 40px;
    border-top-right-radius: 80px;
    transform: rotate(60deg);
    border-left: 35px solid black;
    border-right: 35px solid black;
    border-bottom: 70px solid black;
}

.left-inner-ear {
    position: absolute;
    top: 0;
    left: -30px;
    transform: scale(0.5);
    border-top-left-radius: 80px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-left: 35px solid rgb(206, 144, 154);
    border-right: 35px solid rgb(206, 144, 154);
    border-bottom: 70px solid rgb(206, 144, 154);
}

.right-inner-ear {
    position: absolute;
    top: 0px;
    left: -35px;
    transform: scale(0.5);
    border-top-left-radius: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-left: 35px solid rgb(206, 144, 154);
    border-right: 35px solid rgb(206, 144, 154);
    border-bottom: 70px solid rgb(206, 144, 154);
}

.left-eye {
    position: absolute;
    top: 60px;
    left: 30px;
    border-radius: 60%;
    transform: rotate(10deg);
    width: 40px;
    height: 40px;
    background-color: white;
}

.right-eye {
    position: absolute;
    top: 60px;
    left: 125px;
    border-radius: 60%;
    transform: rotate(-10deg);
    width: 40px;
    height: 40px;
    background-color: white;
}

.left-inner-eye {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 60%;
    transform: scale(0.5);
    width: 40px;
    height: 40px;
    background-color: rgb(0, 213, 255);
}

.right-inner-eye {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 60%;
    transform: scale(0.5);
    width: 40px;
    height: 40px;
    background-color: rgb(0, 213, 255);
}

.cat-nose {
    position: absolute;
    top: 100px;
    left: 84px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(180deg);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgb(206, 144, 154);
}

.blush {
    width: 35px;
    height: 35px;
    background-color: rgb(206, 144, 154);
    border-radius: 100px;
}

.left-blush {
    position: absolute;
    top: 500px;
    left: 100px;
}

.right-blush {
    position: absolute;
    top: 500px;
    left: 100px;
}

/* .cat-mouth div{
    position: absolute;
    top: 50px;
    width: 30px;
    height: 50px;
    border: 2px solid rgb(206, 144, 154);
    border-radius: 190%/190px;
    border-color: rgb(206, 144, 154) transparent transparent transparent;
} */

.left-line {
    position: absolute;
    top: 81px;
    left: 69.5px;
    width: 30px;
    height: 50px;
    border: 2px solid rgb(206, 144, 154);
    border-radius: 80%;
    transform: rotate(170deg);
    border-color: rgb(206, 144, 154) transparent transparent transparent;
}

.middle-line {
    position: absolute;
    top: 120px; 
    left: 94px;
    width: 10px;
    height: 2px;
    background-color: rgb(206, 144, 154);
    transform: rotate(90deg);
}

.right-line {
    position: absolute;
    top: 81px;
    left: 95.5px;
    width: 30px;
    height: 50px;
    border: 2px solid rgb(206, 144, 154);
    border-radius: 80%;
    transform: rotate(190deg);
    border-color: rgb(206, 144, 154) transparent transparent transparent;
}

.whisker-left-top {
    position: absolute;
    top: 110px;
    left: -30px;
    transform: rotate(5deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.whisker-left-middle {
    position: absolute;
    top: 120px;
    left: -30px;
    transform: rotate(0deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.whisker-left-bottom {
    position: absolute;
    top: 130px;
    left: -30px;
    transform: rotate(-5deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.whisker-right-top {
    position: absolute;
    top: 110px;
    left: 125px;
    transform: rotate(-5deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.whisker-right-middle {
    position: absolute;
    top: 120px;
    left: 125px;
    transform: rotate(0deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.whisker-right-bottom {
    position: absolute;
    top: 130px;
    left: 125px;
    transform: rotate(5deg);
    width: 100px;
    height: 1px;
    background-color: rgb(206, 144, 154);
}

.cat-body {
    position: absolute;
    width: 180px;
    height: 200px;
    border-left: 80px;
    border-right: 80px;
    top: 345px;
    left: 655px;
    background-color: black;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

.arm {
    width: 50px;
    height: 130px;
    background-color: black;
    border-radius: 30% 30% 30% 120%;
    z-index: -2;
}

.left-arm {
    position: absolute;
    top: 60px;
    left: 30px;
    transform-origin: top left;
    transform: rotate(110deg) scaleX(-1);
    animation: 8s linear infinite wave;
}

.right-arm {
    position: absolute;
    top: -5px;
    left: 150px;
    transform: rotate(-65deg);
}

.foot {
    background-color: black;
    height: 80px;
    width: 50px;
    border-left: 100px;
    border-right: 100px;
    border-radius: 0 0 50px 50px;
}

.left-foot {
    position: absolute;
    top: 150px;
    left: 20px;
}

.right-foot {
    position: absolute;
    top: 150px;
    left: 110px;
}

.tail {
    position: absolute;
    width: 150px;
    height: 20px;
    border-radius: 0 20px 20px 0;
    background-color: black;
    top: 110px;
    left: 130px;
    transform: rotate(-25deg);
    animation: 5s linear infinite move;
}

@keyframes wave {
    10%, 30%, 50%, 70%, 90% {
      transform: rotate(110deg) scaleX(-1);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: rotate(130deg) scaleX(-1);
    }
  }

@keyframes move {
    0%, 100% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(-35deg);
    }
}